@using Film_Webshop.Models
@using Film_Webshop.Viewmodels
@using Microsoft.Ajax.Utilities
@model AccountWinkelmandGenreViewmodel
@Styles.Render("~/Content/Site.css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/Filter.js")

@{
    List<SelectListItem> filmList = new List<SelectListItem>();
    filmList.Add(new SelectListItem
    {
        Text = "Alles (" + Model.Winkelmand.Films.Count + ")",
        Value = "Alles"
    });
    foreach (var item in Model.Genres)
    {
        filmList.Add(new SelectListItem
        {
            Text = item.Naam + " (" + Model.Winkelmand.Films.Count(x => x.ListGenres.Exists(y => y.Naam == item.Naam)) + ")",
            Value = item.Naam
        });
    }
    filmList = filmList.DistinctBy(x => x.Value).ToList();
}
<!DOCTYPE html>

<h2>Uw Winkelmand</h2>
<br />
<input class="form-control" id="myInput" type="text" placeholder="Search here" />
<br />
@using (Html.BeginForm())
{
    @ViewBag.Message
    @Html.AntiForgeryToken()
    <div class="form-group dropdown">
        @Html.DropDownList("gekozenGenre", filmList)
        <input type="submit" value="Filter"/>
    </div>
}
    @if (Model.Winkelmand.Films.Count != 0)
    {
        using (Html.BeginForm("Kopen", "Winkelmand", FormMethod.Post))
         {
             <div style="position: relative">
                 <p><button type="submit">Koop</button> Voor @Model.Winkelmand.Totaalprijs Credits
                     @Html.HiddenFor(x => x.Account.Id)
                     @for (int i = 0; i < Model.Winkelmand.Films.Count; ++i)
                     {
                         @Html.HiddenFor(x => x.Winkelmand.Films[i].Id)
                     }
                     @for (int i = 0; i < Model.Genres.Count; ++i)
                     {
                         @Html.HiddenFor(x => x.Genres[i].Naam)
                     }
                 </p>
             </div>
         }
    }
    <table class="table" style="width: 33%; float:left">
        <tbody id="myTable">
            @for (int i = 0; i < Model.Winkelmand.Films.Count; i += 3)
            {
                <tr>
                    <td style="width: 1%">
                        <a href="@Url.Action("Details","Film", new { id = Model.Winkelmand.Films[i].Id })">
                            <img src="data:image/png;base64, @Convert.ToBase64String(Model.Winkelmand.Films[i].Image, 0, Model.Winkelmand.Films[i].Image.Length)" />
                        </a>
                    </td>
                    <td style="width: 10%">
                        <a href="@Url.Action("Details","Film", new { id = Model.Winkelmand.Films[i].Id })">
                            @Html.DisplayFor(model => model.Winkelmand.Films[i].Naam) (@Html.DisplayFor(model => model.Winkelmand.Films[i].Jaar)) &nbsp;
                        </a>
                        <p>Prijs: @Html.DisplayFor(model => model.Winkelmand.Films[i].Prijs) Credits</p>
                    </td>
                    <td style="width: 1%">
                        <a href="@Url.Action("Verwijderen", "Winkelmand", new {filmId = Model.Winkelmand.Films[i].Id})">-</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <table class="table" style="width: 33%; float:left">
        <tbody id="myTable">
            @for (int i = 1; i < Model.Winkelmand.Films.Count; i += 3)
            {
                <tr>
                    <td style="width: 1%">
                        <a href="@Url.Action("Details","Film", new { id = Model.Winkelmand.Films[i].Id })">
                            <img src="data:image/png;base64, @Convert.ToBase64String(Model.Winkelmand.Films[i].Image, 0, Model.Winkelmand.Films[i].Image.Length)" />
                        </a>
                    </td>
                    <td style="width: 10%">
                        <a href="@Url.Action("Details","Film", new { id = Model.Winkelmand.Films[i].Id })">
                            @Html.DisplayFor(model => model.Winkelmand.Films[i].Naam) (@Html.DisplayFor(model => model.Winkelmand.Films[i].Jaar)) &nbsp;
                        </a>
                        <p>Prijs: @Html.DisplayFor(model => model.Winkelmand.Films[i].Prijs) Credits</p>
                    </td>
                    <td style="width: 1%">
                        <a href="@Url.Action("Verwijderen", "Winkelmand", new {filmId = Model.Winkelmand.Films[i].Id})">-</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <table class="table" style="width: 33%; float:left">
        <tbody id="myTable">
            @for (int i = 2; i < Model.Winkelmand.Films.Count; i += 3)
            {
                <tr>
                    <td style="width: 1%">
                        <a href="@Url.Action("Details","Film", new { id = Model.Winkelmand.Films[i].Id })">
                            <img src="data:image/png;base64, @Convert.ToBase64String(Model.Winkelmand.Films[i].Image, 0, Model.Winkelmand.Films[i].Image.Length)" />
                        </a>
                    </td>
                    <td style="width: 10%">
                        <a href="@Url.Action("Details","Film", new { id = Model.Winkelmand.Films[i].Id })">
                            @Html.DisplayFor(model => model.Winkelmand.Films[i].Naam) (@Html.DisplayFor(model => model.Winkelmand.Films[i].Jaar)) &nbsp;
                        </a>
                        <p>Prijs: @Html.DisplayFor(model => model.Winkelmand.Films[i].Prijs) Credits</p>
                    </td>
                    <td style="width: 1%">
                        <a href="@Url.Action("Verwijderen", "Winkelmand", new {filmId = Model.Winkelmand.Films[i].Id})">-</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br>