@using Film_Webshop.Viewmodels
@using Microsoft.Ajax.Utilities
@model AccountWinkelmandGenreViewmodel
@Styles.Render("~/Content/Site.css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/Filter.js")

@{
    List<SelectListItem> filmList = new List<SelectListItem>();
    foreach (var item in Model.Genres)
    {
        filmList.Add(new SelectListItem
        {
            Text = item.Naam.ToString(),
            Value = item.Naam.ToString()
        });
    }
    filmList = filmList.DistinctBy(x => x.Text).ToList();
}
<!DOCTYPE html>

<h2>Uw films</h2>
<br />
<input class="form-control" id="myInput" type="text" placeholder="Search here" />
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group dropdown">
        @Html.DropDownList("gekozenGenre", filmList)
        <input type="submit" value="Filter" />
    </div>
    <table class="table" style="width: 33%; float:left">
        <tbody id="myTable">
            @for (int i = 0; i < Model.Winkelmand.Films.Count; i += 3)
            {
                <tr>
                    <td style="width: 1%">
                        <a href="@Url.Action("Details","Film", new { id = Model.Winkelmand.Films[i].Id })">
                            <img src="data:image/png;base64, @Convert.ToBase64String(Model.Winkelmand.Films[i].Image, 0, Model.Winkelmand.Films[i].Image.Length)" />
                        </a>
                    </td>
                    <td style="width: 10%">
                        <a href="@Url.Action("Details","Film", new { id = Model.Winkelmand.Films[i].Id })">
                            @Html.DisplayFor(model => model.Winkelmand.Films[i].Naam) (@Html.DisplayFor(model => model.Winkelmand.Films[i].Jaar)) &nbsp;
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <table class="table" style="width: 33%; float:left">
        <tbody id="myTable">
            @for (int i = 1; i < Model.Winkelmand.Films.Count; i += 3)
            {
                <tr>
                    <td style="width: 1%">
                        <a href="@Url.Action("Details","Film", new { id = Model.Winkelmand.Films[i].Id })">
                            <img src="data:image/png;base64, @Convert.ToBase64String(Model.Winkelmand.Films[i].Image, 0, Model.Winkelmand.Films[i].Image.Length)" />
                        </a>
                    </td>
                    <td style="width: 10%">
                        <a href="@Url.Action("Details","Film", new { id = Model.Winkelmand.Films[i].Id })">
                            @Html.DisplayFor(model => model.Winkelmand.Films[i].Naam) (@Html.DisplayFor(model => model.Winkelmand.Films[i].Jaar)) &nbsp;
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <table class="table" style="width: 33%; float:left">
        <tbody id="myTable">
            @for (int i = 2; i < Model.Winkelmand.Films.Count; i += 3)
            {
                <tr>
                    <td style="width: 1%">
                        <a href="@Url.Action("Details","Film", new { id = Model.Winkelmand.Films[i].Id })">
                            <img src="data:image/png;base64, @Convert.ToBase64String(Model.Winkelmand.Films[i].Image, 0, Model.Winkelmand.Films[i].Image.Length)" />
                        </a>
                    </td>
                    <td style="width: 10%">
                        <a href="@Url.Action("Details","Film", new { id = Model.Winkelmand.Films[i].Id })">
                            @Html.DisplayFor(model => model.Winkelmand.Films[i].Naam) (@Html.DisplayFor(model => model.Winkelmand.Films[i].Jaar)) &nbsp;
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}