@using Film_Webshop.Models
@model Film
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
@using (Html.BeginForm("", ""))
{
    <img src="data:image/png;base64, @Convert.ToBase64String(Model.Image, 0, Model.Image.Length)"/>
    <h4>@Html.DisplayFor(model => model.Naam) (@Html.DisplayFor(model => model.Jaar))</h4>
    <br/>   
    <h4>@Html.DisplayFor(model => model.Beschrijving)</h4>
    <h4>Genre(s): @Html.DisplayFor(model => model.ListGenres)</h4>
    <h4>Lengte: @Html.DisplayFor(model => model.Time)</h4>
    <h4>Prijs: @Html.DisplayFor(model => model.Prijs) Credits</h4>
    <h4>Beoordeling: @Html.DisplayFor(model => model.Rating) / 10.0</h4>
}