@using Film_Webshop.Models
@model Film_Webshop.Viewmodels.ToevoegenViewmodel

@{
    ViewBag.Title = "Wijzigen";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("Edit", "Film", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <h4>@Html.DisplayFor(m => m.Film.Naam, new { @class = "form-control" })</h4>
    @ViewBag.image
    @ViewBag.gegevens
    <div class="form-group">
        @Html.Label("Afbeelding", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <input type="file" name="postedFile" />
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Film.Naam, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Film.Naam, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Film.Beschrijving, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Film.Beschrijving, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Film.Jaar, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Film.Jaar, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Film.Lengte, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Film.Lengte, new { @class = "form-control" })
        </div>
    </div>
    @ViewBag.rating
    <div class="form-group">
        @Html.LabelFor(m => m.Film.Prijs, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Film.Prijs, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Film.Rating, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Film.Rating, new { @class = "form-control" })
        </div>
    </div>
    foreach (Genre g in Model.Genres)
    {
        <div class="form-group">
            @Html.Label(g.Naam.Trim(), new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.CheckBox(g.Naam.Trim(), g.Checked)
            </div>
        </div>
    }
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Voeg Toe" />
        </div>
    </div>
    @Html.HiddenFor(m => m.Film.Id)
}