@using Film_Webshop.Viewmodels
@using Microsoft.Ajax.Utilities
@model FilmIndexViewmodel
@Styles.Render("~/Content/Site.css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/Filter.js")

@{
    List<SelectListItem> filmList = new List<SelectListItem>();
    filmList.Add(new SelectListItem
    {
        Text = "Alles (" + Model.AllFilmsCount + ")",
        Value = "Alles"
    });
    foreach (var item in Model.ListGenres)
    {
        filmList.Add(new SelectListItem
        {
            Text = item.Naam + " (" + item.Aantal + ")",
            Value = item.Naam
        });
    }
    filmList = filmList.DistinctBy(x => x.Value).ToList();
}
<!DOCTYPE html>

<h2>Alle Films</h2>
<br />
<input class="form-control" id="myInput" type="text" placeholder="Search here" />
<br />
@using (Html.BeginForm("Toevoegen", "Film", FormMethod.Get))
{
    if (Model.Account.Admin)
    {
        <button type="submit">Film Toevoegen</button>
    }
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group dropdown">
        <br />
        @Html.DropDownList("gekozenGenre", filmList)
        <input type="submit" value="Filter" />
    </div>
    <table class="table" style="width: 33%; float:left">
        <tbody id="myTable">
            @for (int i = 0; i < Model.ListFilm.Count; i += 3)
            {
                <tr>
                    <td style="width: 1%">
                        <a href="@Url.Action("Details", new { id = Model.ListFilm[i].Id })">
                            <img src="data:image/png;base64, @Convert.ToBase64String(Model.ListFilm[i].Image, 0, Model.ListFilm[i].Image.Length)" />
                        </a>
                    </td>
                    <td style="width: 10%">
                        <a href="@Url.Action("Details", new { id = Model.ListFilm[i].Id })">
                            @Html.DisplayFor(model => model.ListFilm[i].Naam) (@Html.DisplayFor(model => model.ListFilm[i].Jaar)) &nbsp;
                        </a>
                        <p>Prijs: @Html.DisplayFor(model => model.ListFilm[i].Prijs) Credits</p>
                    </td>
                    @using (Html.BeginForm("Toevoegen", "Winkelmand"))
                    {
                        if (Model.Account.Winkelmand.Films.Count(x => x.Id == Model.ListFilm[i].Id) >= 1)
                        {
                            <td style="width: 1%">
                                <a href="@Url.Action("Verwijderen", "Winkelmand", new {filmId = Model.ListFilm[i].Id})">-</a>
                            </td>
                        }
                        else if (Model.Account.Films.Count(x => x.Id == Model.ListFilm[i].Id) >= 1)
                        {
                            <td style="width: 1%"></td>
                        }
                        else
                        {
                            <td style="width: 1%">
                                <a href="@Url.Action("Toevoegen", "Winkelmand", new {filmId = Model.ListFilm[i].Id})">+</a>
                            </td>
                        }
                    }
                    @if (Model.Account.Admin)
                    {
                        <td style="width: 10%">
                            <a href="@Url.Action("Edit", new { id = Model.ListFilm[i].Id })">Edit</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <table class="table" style="width: 33%; float:left">
        <tbody id="myTable">
            @for (int i = 1; i < Model.ListFilm.Count; i += 3)
            {
                <tr>
                    <td style="width: 1%">
                        <a href="@Url.Action("Details", new { id = Model.ListFilm[i].Id })">
                            <img src="data:image/png;base64, @Convert.ToBase64String(Model.ListFilm[i].Image, 0, Model.ListFilm[i].Image.Length)" />
                        </a>
                    </td>
                    <td style="width: 10%">
                        <a href="@Url.Action("Details", new { id = Model.ListFilm[i].Id })">
                            @Html.DisplayFor(model => model.ListFilm[i].Naam) (@Html.DisplayFor(model => model.ListFilm[i].Jaar)) &nbsp;
                        </a>
                        <p>Prijs: @Html.DisplayFor(model => model.ListFilm[i].Prijs) Credits</p>
                    </td>
                    @using (Html.BeginForm("Toevoegen", "Winkelmand"))
                    {
                        if (Model.Account.Winkelmand.Films.Count(x => x.Id == Model.ListFilm[i].Id) >= 1)
                        {
                            <td style="width: 1%">
                                <a href="@Url.Action("Verwijderen", "Winkelmand", new {filmId = Model.ListFilm[i].Id})">-</a>
                            </td>
                        }
                        else if (Model.Account.Films.Count(x => x.Id == Model.ListFilm[i].Id) >= 1)
                        {
                            <td style="width: 1%"></td>
                        }
                        else
                        {
                            <td style="width: 1%">
                                <a href="@Url.Action("Toevoegen", "Winkelmand", new {filmId = Model.ListFilm[i].Id})">+</a>
                            </td>
                        }
                    }
                    @if (Model.Account.Admin)
                    {
                        <td style="width: 10%">
                            <a href="@Url.Action("Edit", new { id = Model.ListFilm[i].Id })">Edit</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <table class="table" style="width: 33%; float:left">
        <tbody id="myTable">
            @for (int i = 2; i < Model.ListFilm.Count; i += 3)
            {
                <tr>
                    <td style="width: 1%">
                        <a href="@Url.Action("Details", new {id = Model.ListFilm[i].Id})">
                            <img src="data:image/png;base64, @Convert.ToBase64String(Model.ListFilm[i].Image, 0, Model.ListFilm[i].Image.Length)" />
                        </a>
                    </td>
                    <td style="width: 10%">
                        <a href="@Url.Action("Details", new {id = Model.ListFilm[i].Id})">
                            @Html.DisplayFor(model => model.ListFilm[i].Naam) (@Html.DisplayFor(model => model.ListFilm[i].Jaar)) &nbsp;
                        </a>
                        <p>Prijs: @Html.DisplayFor(model => model.ListFilm[i].Prijs) Credits</p>
                    </td>
                    @using (Html.BeginForm("Toevoegen", "Winkelmand"))
                    {
                        if (Model.Account.Winkelmand.Films.Count(x => x.Id == Model.ListFilm[i].Id) >= 1)
                        {
                            <td style="width: 1%">
                                <a href="@Url.Action("Verwijderen", "Winkelmand", new {filmId = Model.ListFilm[i].Id})">-</a>
                            </td>
                        }
                        else if (Model.Account.Films.Count(x => x.Id == Model.ListFilm[i].Id) >= 1)
                        {
                            <td style="width: 1%"></td>
                        }
                        else
                        {
                            <td style="width: 1%">
                                <a href="@Url.Action("Toevoegen", "Winkelmand", new {filmId = Model.ListFilm[i].Id})">+</a>
                            </td>
                        }
                    }
                    @if (Model.Account.Admin)
                    {
                        <td style="width: 10%">
                            <a href="@Url.Action("Edit", new {id = Model.ListFilm[i].Id})">Edit</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}